@import './variables.module.scss';

.body {
  min-width: 340px;
  background-color: $background-color;
}

.sectionTitles {
  padding-top: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: lighter;
  font-style: italic;
  color: $sweet-green;
  margin: 20px 50px;
}
.presContainer {
  margin: 50px auto;
  width: 70%;
  display: flex;
  flex-direction: row;

}


.presContainer p {
  width: 70%;
  font-size: 18px;
  line-height: 22px;
  margin-left: 10px;
}
.presContainer img{
  margin: auto;
  border: solid 3px peru;
}

@media screen and (max-width: 700px){
  .presContainer {
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .presContainer p {
    width: 100%;
    margin: auto;
    padding : 20px;
  }
  
}
.ambianceContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  margin: 50px 0;
}
.sectionUnderTitle{
  text-align: center;
  text-decoration: underline wavy;
  color: $sweet-green;
  margin-top: 15px;
}
@media screen and (max-width: 850px){
  .ambianceContainer {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    
  }
  .cubanoContainer, .latinoContainer, .ensembleContainer{
    margin: 20px auto;
    min-width: 60%
  }
  .cubanoContainer img , .latinoContainer img, .ensembleContainer img{
    max-height: 20%;
    max-width: 300px;
  }
}
@media screen and (max-width: 850px){
  .cubanoContainer img , .latinoContainer img, .ensembleContainer img{
    width: 70%;
  }}

.cubanoContainer, .latinoContainer {
  border: 2px solid $sweet-green;
  width : 30%;
  box-shadow: 10px 5px 5px $greying-stuff;
  padding: 0 30px;
}
.ensembleContainer {
  text-align: center;
  margin: 20px auto;
  border: 2px solid $sweet-green;
  width: 60%;
  box-shadow: 10px 5px 5px $greying-stuff;
  padding: 0 30px;
}
.cubanoContainer p, .latinoContainer p, .ensembleContainer p{
  font-size: 18px;
}

.cubanoContainer img , .latinoContainer img, .ensembleContainer img{
  margin: auto;
  box-shadow: 10px 5px 5px $greying-stuff;
}
.ambianceDesc {
  display: flex;
  flex-direction: column;
  
}

.galleryContainer{
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width:850px){
  .galleryContainer img{
    max-width: 30%;
    height: 35%;
  }
}

.contactContainer {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding-bottom: 20px;
  
  
}
.imgAproposWrapper{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 20%;
}
@media screen and (max-width:850px){
  .imgAproposWrapper{
    flex-direction: column;
  }
  .imgAproposWrapper img{
    width: 150px;
    height: 150px;
    align-items: center;
  }

  .contactImageWrapper {
    margin: auto;
  }
}


.aPropos {
  margin-left: 15px;
}
.contactInfos {
  width: 40%;
   
}

.centeredAdress {
  margin: 0 10px;
}
.darken {
  background-color: $ochre; 
}
.darkenedBG {
  background-color: #a49c8e;
}
.brighten {
  background-color: $light-ochre;
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.adressContainer {
  text-align: left;
  width: 50%;
}
.adressFlexer { 
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 700px){
  .adressFlexer {
    flex-direction: column;
  }
  .adressContainer {
    width: 100%;
    margin-left: 0;
  }
}